
/* 基本設定 */
body{
    width: 1200px;
    margin: 0 auto;
}

h2{
    justify-content: center;
    color: #FFd61a;
    margin-top: 60px;
    margin-bottom: 30px;
}

h3{
    color: #222;
    font-weight: 600;
    font-size: 24px;
}

p{
    color: #222;
    font-size: 16px;
}

.p_line_hight{

}



.btn{
    font-size: 18px;
    background: linear-gradient(135deg, #FFd61a, #ff9f1a);
    height: 60px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(135deg, #ff9f1a, #ff5c00);
    transform: translateY(-2px);
}

.btn_text{
    font-size: 18px;
    color: white;
}


/* ここからレイアウト設定 */

header{
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.header_menu{
    display: flex;

}

.header_logo_area{
    height: 60px;
    justify-content: center;
    align-content: center;
    margin-left: 24px;
}

.header_logo{
    height: 100%;
    justify-items: center;
    align-items: center;
}

.header_menu{
    display: flex;   /* メニュー内の項目を横並びにする */
    gap: 50px;       /* 各メニュー間の隙間を作る */
    margin-right: 50px;
}


.header_text{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 21px;
    font-weight: 500;    

}


/* ヒーローイメージ */
.sec_hero_image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../img/mainbg.png) ;
    height: 320px;
    width: 100%;

}

.div_hero_image{
    margin: 0 top;
}

.h2_hero_image{
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.h1_hero_image{
    font-size: 24px;
    font-weight: 400;
    color: white;
}


/* ーーーAboutーーー */
.sec_about{
    justify-content: center;
    text-align: center;
    margin-top:60px ;

}

.div_about{
    margin-top: 60px;
    margin-bottom: 80px;
}

.text_about{
    justify-content: center;
    color: #111
}

.image_about{
    width: 100%;
    vertical-align: bottom;
}




/* ーーーCourseーーー */
.sec_course{
    justify-content: center;
    align-content: center;
}

.div_course_foreword{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
    
}

.div_course_block{
    display: flex;
    background-color: #fafafa;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.div_course_block_2nd{
    display: flex;
    background-color: #fafafa;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.img_course{
    width: 100%;
    vertical-align: bottom;
}

.div_course_block_left{
    width: 50%;

}

.div_course_block_right{
   width: 50%;
}

.div_course_block_text_area{
    width: 480px;
    justify-items: left;
    padding-left: 50px;
    padding-right: 50px;

}



/* ーーーNEWSーーー */

.sec_news{
    margin-bottom: 60px;
}

.div_news_area{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.div_news_title{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.div_news_article{
    width: 300px;
    margin-right: 30px;
    align-items: left;
}

.div_news_article_image{
    width: 100%;
}



.article_date{
    align-items: end;
    margin-top:30px;
    margin-bottom: 24px;

}


.article_date{
    align-items: left;
    text-align: left;

}

.article_text{
    margin-bottom: 0;


}



/* ーーーAccessーーー */
.sec_access{
    background-color: #fafafa;
    margin: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.div_access_article{
    background-color: #fafafa;
}

.div_access_foreword{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.div_access_contents{
    margin-top: 60px;
    margin-bottom: 60px;


}

/* 地図を囲むコンテナの設定 */
.map-container {
  position: relative;
  width: 100%;
  padding-top: 40%; /* 表示比率 */
  overflow: hidden;
}



/* iFrame自体をコンテナいっぱいに広げる */
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access_image{
    width: 100%;

}

.div_access_block{
    display: flex;
    height: 50px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.div_access_block_left{
    width: 150px;
    text-align: left;

}

.div_access_block_right{
    width: 400px;
    text-align: left;

}

/* ーーーContactーーー */
.sec_contact{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.div_contact_title{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

.div_contact_text{
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

/* お問い合わせフォーム */
.div_contact_form{
    margin-top: 70px;
    margin-bottom: 30px;

}

.div_contact_form_item{
    display: flex;
    border-top: 1px solid #bfbfbf;
}

.div_form_left{
    text-align: left;
    width:240px;
    padding-left: 16px;

}

.div_form_right{
    justify-content: center;
    justify-items: center;
    align-content: center;
    width: 500px;
    border-left: 1px solid #bfbfbf;



}

.div_form_text_box{
    justify-content: center;
    justify-items: center;
    float: left;
    width: 400px;
    height: 40px;
    margin-top:8px;
    margin-bottom: 8px;
    margin-left: 8px;
    border: 1px solid #bfbfbf;

    background-color:white;
}

.div_form_text_box_detail{
    justify-content: center;
    justify-items: center;
    float: left;
    width: 400px;
    height: 120px;
    margin-top:8px;
    margin-bottom: 8px;
    margin-left: 8px;
    border: 1px solid #bfbfbf;

    background-color:white;

}

.selectbox-3 {
    align-items: center;
    position: relative;
    margin-top:8px;
    margin-bottom: 8px;
    margin-left: 8px;

    background-color: #ff5c00;
}

.selectbox-3::after {
    position: absolute;
    right: 15px;
    width: 10px;
    height: 7px;
    background-color: #535353;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    pointer-events: none;
}

.selectbox-3 select {
    appearance: none;
    min-width: 400px;
    height: 120px;
    padding: 8px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    background-color: #fff;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.selectbox-X{
    justify-content: center;
    justify-items: center;
    float: left;
    width: 400px;
    height: 120px;
    margin-top:8px;
    margin-bottom: 8px;
    margin-left: 8px;
    border: 1px solid #bfbfbf;

    background-color:white;
}


.div_form_check_box_container{
    padding-top: 16px;
    padding-bottom: 16px;
    border-left: 1px solid #bfbfbf;
}

.div_form_check_box{
    display: flex;
    float: left;
    justify-content: left;
    justify-items: left;
    align-content: center;
    align-items: center;
}

.check_box{
    width: 24px;
    height: 24px;
    margin-left: 24px;
    border-radius: 4px;
    background-color: #eeeeee;
    

}

.check_box_text{
    width: 400px;
    margin-left: 24px;

}


.div_contact_form_item_detail{
    display: flex;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}


/* ーーーフッターーーー */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #707070;
    width: 100%;
    margin-top:140px;

}

.text_footer{
    font-size: 16px;
    color: white;

}